@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: Outfit;
}
select,input,textarea{
    border: 1px solid #c2c2c2;
    outline: #c586a7;
    border-radius: 4px;
}

::-webkit-scrollbar{
  display: none;
}

.active{
    background-color: #ffebf5;
    border-color: #c586a7;
}

button{
  cursor: pointer;
}